/* stylelint-disable indentation, color-hex-case */

body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #d3d3d3;
  }
  
  header {
	background-color: #4CAF50;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 1em 0;
	font-size: 1.5em;
  }
  
  main {
	padding: 20px;
  }
  
  div {
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  }
  
  button {
	display: block;
	width: 200px;
	margin: 10px auto;
	font-size: 1em;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
  }
  
  button:hover {
	background-color: #45a049;
  }
  
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
  }